<% title "Search Location" %>

<div class="row">
	<div class="signin-title">
		<h1>Mobile Location Search</h1>
		<!--h5>Well known content syndication company worldwide</h5-->
	</div>
	<div class="signin-panel-container">
		<div class="panel panel-signin">
			<div class="panel-heading">
				<h3 class="panel-title user-icon"><span class="fa-stack fa-3x"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-mobile fa-stack-1x fa-inverse"></i> </span><span class="text"><%= yield :title%></span></h3>
			</div>
			
			<div class="panel-body">
			  <%= render 'form' %>
      </div>
		</div>
	</div>
</div>
